<div *ngIf="commodity">
  <h2>{{ commodity.name | uppercase }} Details</h2>
  <div><span>id: </span>{{commodity.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="commodity.name" placeholder="name"/>
    </label>
  </div>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
  <button class="btn btn-primary" (click)="save()">save</button>
</div>
