<h2>Swap trades</h2>
<div>
    <label>Pricing start:
            <input [(ngModel)]="newTrade.pricingStart"/>
    </label>
    <label>Pricing end:
            <input [(ngModel)]="newTrade.pricingEnd"/>
    </label>
    <label>Trader:
        <select [(ngModel)]="newTrade.traderId">
                <option value="" disabled>Choose a trader</option>
                <option *ngFor="let u of users" [ngValue]="u.id">
                                {{u.firstName}} {{u.secondName}}
                </option>
        </select>
    </label>
    <label>Trade date:
            <input [(ngModel)]="newTrade.tradeDate"/>
    </label>
    <label>Book:
            <select [(ngModel)]="newTrade.bookId">
                    <option *ngFor="let b of books" [value]="b.id">{{b.name}}</option>
            </select>
    </label>
    <label>Counterparty:
            <select [(ngModel)]="newTrade.counterPartyId">
                    <option *ngFor="let e of entities" [value]="e.id">{{e.name}}</option>
            </select>
    </label>
    <label>Price:
            <input [(ngModel)]="newTrade.price"/>
    </label>
    <label>Volume:
            <input [(ngModel)]="newTrade.volume"/>
    </label>
    <label>Commodity:
            <select [(ngModel)]="newTrade.commodityId">
                    <option *ngFor="let co of commodities" [value]="co.id">{{co.name}}</option>
            </select>
    </label>
    <label>Direction:
            <select [(ngModel)]="newTrade.direction">
                    <option value="0">Buy</option>
                    <option value="1">Sell</option>
            </select>
    </label>
    <button class="btn btn-primary" (click)="add();">
      Create
    </button>
</div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pricing start</th>
          <th scope="col">Pricing end</th>
          <th scope="col">Trade date</th>
          <th scope="col">Trader</th>
          <th scope="col">Book</th>
          <th scope="col">Counterparty</th>
          <th scope="col">Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Commodity</th>
          <th scope="col">Direction</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let swaptrade of swapTrades">
              <th scope="row"><span class="badge">{{swaptrade.id}}</span></th>
              <td><a routerLink="/swaptrades/{{swaptrade.id}}">
                 {{swaptrade.pricingStart}}
              </a></td>
              <td>
                <a routerLink="/users/{{swaptrade.id}}">
                {{swaptrade.pricingEnd}}
                </a>
              </td>
              <td>
                  <a routerLink="/swaptrades/{{swaptrade.id}}">
                  {{swaptrade.tradeDate}}
                  </a>
                </td>
              <td>
                  <a routerLink="/users/{{swaptrade.trader.id}}">
                  {{swaptrade.trader.firstName}} {{swaptrade.trader.secondName}}
                  </a>
              </td>
              <td>
                  <a routerLink="/books/{{swaptrade.book.id}}">
                  {{swaptrade.book.name}}
                  </a>
              </td>
              <td>
                  <a routerLink="/users/{{swaptrade.counterparty.id}}">
                  {{swaptrade.counterparty.name}}
                  </a>
              </td>
              <td>
                  {{swaptrade.price}}
              </td>
              <td>
                  {{swaptrade.volume}}
              </td>
              <td>
                  <a routerLink="/commidities/{{swaptrade.commodity.id}}">
                  {{swaptrade.commodity.name}}
                  </a>
              </td>
              <td>
                  {{swaptrade.direction}}
              </td>
              <td><button class="btn btn-primary" title="delete swaptrade"
                (click)="delete(swaptrade)">x</button></td>
          </tr>
       </tbody>
</table>