<h2>Legal entities</h2>
<div>
    <label>Name:
        <input [(ngModel)]="newLegalEntity.name" placeholder="name"/>
    </label>
    <button class="btn btn-primary" (click)="add();">
      Create
    </button>
</div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let legalentity of legalEntities">
            <th scope="row"><span class="badge">{{legalentity.id}}</span></th>
            <td><a routerLink="/legalentities/{{legalentity.id}}">
               {{legalentity.name}}
            </a>
            </td>
            <td><button class="btn btn-primary" title="delete legal entity"
              (click)="delete(legalentity)">x</button></td>
          </tr>
       </tbody>
</table>