<h2>Books</h2>
<div>
    <label>Name:
        <input [(ngModel)]="newbook.name" placeholder="name"/>
    </label>
    <button class="btn btn-primary" (click)="add();">
      Create
    </button>
  </div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of books">
            <th scope="row"><span class="badge">{{book.id}}</span></th>
            <td><a routerLink="/books/{{book.id}}">
               {{book.name}}
            </a>
            </td>
            <td><button class="btn btn-primary" title="delete book"
              (click)="delete(book)">x</button></td>
          </tr>
       </tbody>
</table>