<h2>Users</h2>

<div>
    <label>First Name:
        <input [(ngModel)]="newUser.firstName" placeholder="first name"/>
    </label>
    <label>Second Name:
        <input [(ngModel)]="newUser.secondName" placeholder="second name"/>
    </label>
    <button class="btn btn-primary" (click)="add();">
      Create
    </button>
</div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
            <th scope="row"><span class="badge">{{user.id}}</span></th>
            <td><a routerLink="/users/{{user.id}}">
               {{user.firstName}}
            </a></td>
            <td><a routerLink="/users/{{user.id}}">
              {{user.secondName}}
            </a></td>
            <td><button class="btn btn-primary" title="delete user"
              (click)="delete(user)">x</button></td>
          </tr>
       </tbody>
</table>