<div *ngIf="user">
  <h2>{{ user.firstName | uppercase }} {{ user.secondName | uppercase }} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>First name:
      <input [(ngModel)]="user.firstName" placeholder="firstName"/>
    </label>
    <label>Second name:
      <input [(ngModel)]="user.secondName" placeholder="secondName"/>
    </label>
  </div>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
  <button class="btn btn-primary" (click)="save()">save</button>
</div>