<h2>Commidities</h2>
<div>
    <label>Name:
        <input [(ngModel)]="newCommidity.name" placeholder="name"/>
    </label>
    <button class="btn btn-primary" (click)="add();">
      Create
    </button>
</div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let commodity of commodities">
            <th scope="row"><span class="badge">{{commodity.id}}</span></th>
            <td><a routerLink="/commidities/{{commodity.id}}">
               {{commodity.name}}
            </a>
            </td>
            <td><button class="btn btn-primary" title="delete commodity"
              (click)="delete(commodity)">x</button></td>
          </tr>
       </tbody>
</table>
