<div *ngIf="book">
  <h2>{{ book.name | uppercase }} Details</h2>
  <div><span>id: </span>{{book.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="book.name" placeholder="name"/>
    </label>
  </div>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
  <button class="btn btn-primary" (click)="save()">save</button>
</div>
