<div *ngIf="swapTrade">
    <h2>{{ swapTrade.name | uppercase }} Details</h2>
    <div>
        <label>Pricing start:
                <input [(ngModel)]="swapTrade.pricingStart"/>
        </label>
        <label>Pricing end:
            <input [(ngModel)]="swapTrade.pricingEnd"/>
        </label>
        <label>Trader:
            <select [(ngModel)]="swapTrade.traderId" >
                    <option *ngFor="let u of users" value={{u.id}} >{{u.firstName}} {{u.secondName}}</option>
            </select>
        </label>
        <label>Trade date:
                <input [(ngModel)]="swapTrade.tradeDate"/>
        </label>
        <label>Book:
                <select [(ngModel)]="swapTrade.bookId">
                        <option *ngFor="let b of books" [value]="b.id">{{b.name}}</option>
                </select>
        </label>
        <label>Counterparty:
                <select [(ngModel)]="swapTrade.counterPartyId">
                        <option *ngFor="let e of entities" [value]="e.id">{{e.name}}</option>
                </select>
        </label>
        <label>Price:
                <input [(ngModel)]="swapTrade.price"/>
        </label>
        <label>Volume:
                <input [(ngModel)]="swapTrade.volume"/>
        </label>
        <label>Commodity:
                <select [(ngModel)]="swapTrade.commodityId">
                        <option *ngFor="let co of commodities" [value]="co.id">{{co.name}}</option>
                </select>
        </label>
        <label>Direction:
                <select [(ngModel)]="swapTrade.direction">
                        <option value="0">Buy</option>
                        <option value="1">Sell</option>
                </select>
        </label>
    </div>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
  <button class="btn btn-primary" (click)="save()">save</button>
</div>