<div *ngIf="futuresTrade">
  <h2>{{ futuresTrade.name | uppercase }} Details</h2>
  <div>
      <label>Delivery date:
              <input [(ngModel)]="futuresTrade.deliveryDate"/>
      </label>
      <label>Trader:
          <select [(ngModel)]="futuresTrade.traderId" >
                  <option *ngFor="let u of users" value={{u.id}} >{{u.firstName}} {{u.secondName}}</option>
          </select>
      </label>
      <label>Trade date:
              <input [(ngModel)]="futuresTrade.tradeDate"/>
      </label>
      <label>Book:
              <select [(ngModel)]="futuresTrade.bookId">
                      <option *ngFor="let b of books" [value]="b.id">{{b.name}}</option>
              </select>
      </label>
      <label>Counterparty:
              <select [(ngModel)]="futuresTrade.counterPartyId">
                      <option *ngFor="let e of entities" [value]="e.id">{{e.name}}</option>
              </select>
      </label>
      <label>Price:
              <input [(ngModel)]="futuresTrade.price"/>
      </label>
      <label>Volume:
              <input [(ngModel)]="futuresTrade.volume"/>
      </label>
      <label>Commodity:
              <select [(ngModel)]="futuresTrade.commodityId">
                      <option *ngFor="let co of commodities" [value]="co.id">{{co.name}}</option>
              </select>
      </label>
      <label>Direction:
              <select [(ngModel)]="futuresTrade.direction">
                      <option value="0">Buy</option>
                      <option value="1">Sell</option>
              </select>
      </label>
  </div>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
  <button class="btn btn-primary" (click)="save()">save</button>
</div>
