<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{title}}</span>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/commidities">Commidities</a></li>
            <li><a routerLink="/legalentities">Legal Entities</a></li>
            <li><a routerLink="/books">Books</a></li>
            <li><a routerLink="/swaptrades">Swap Trades</a></li>
            <li><a routerLink="/futurestrades">Future Trades</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>


