<h2>Futures trades</h2>
<div>
        <label>Delivery date:
                <input [(ngModel)]="newTrade.deliveryDate"/>
        </label>
        <label>Trader:
            <select [(ngModel)]="newTrade.traderId">
                    <option *ngFor="let u of users" [value]="u.id">{{u.firstName}} {{u.secondName}}</option>
            </select>
        </label>
        <label>Trade date:
                <input [(ngModel)]="newTrade.tradeDate"/>
        </label>
        <label>Book:
                <select [(ngModel)]="newTrade.bookId">
                        <option *ngFor="let b of books" [value]="b.id">{{b.name}}</option>
                </select>
        </label>
        <label>Counterparty:
                <select [(ngModel)]="newTrade.counterPartyId">
                        <option *ngFor="let e of entities" [value]="e.id">{{e.name}}</option>
                </select>
        </label>
        <label>Price:
                <input [(ngModel)]="newTrade.price"/>
        </label>
        <label>Volume:
                <input [(ngModel)]="newTrade.volume"/>
        </label>
        <label>Commodity:
                <select [(ngModel)]="newTrade.commodityId">
                        <option *ngFor="let co of commodities" [value]="co.id">{{co.name}}</option>
                </select>
        </label>
        <label>Direction:
                <select [(ngModel)]="newTrade.direction">
                        <option value="0">Buy</option>
                        <option value="1">Sell</option>
                </select>
        </label>
        <button class="btn btn-primary" (click)="add();">
          Create
        </button>
</div>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Delivery</th>
          <th scope="col">Trade date</th>
          <th scope="col">Trader</th>
          <th scope="col">Book</th>
          <th scope="col">Counterparty</th>
          <th scope="col">Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Commodity</th>
          <th scope="col">Direction</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let futurestrade of futuresTrades">
              <th scope="row"><span class="badge">{{futurestrade.id}}</span></th>
              <td><a routerLink="/futurestrades/{{futurestrade.id}}">
                 {{futurestrade.deliveryDate}}
              </a>
              </td>
              <td>
                  <a routerLink="/futurestrades/{{futurestrade.id}}">
                  {{futurestrade.tradeDate}}
                  </a>
                </td>
              <td>
                  <a routerLink="/users/{{futurestrade.trader.id}}">
                  {{futurestrade.trader.firstName}} {{futurestrade.trader.secondName}}
                  </a>
              </td>
              <td>
                  <a routerLink="/books/{{futurestrade.book.id}}">
                  {{futurestrade.book.name}}
                  </a>
              </td>
              <td>
                  <a routerLink="/users/{{futurestrade.counterparty.id}}">
                  {{futurestrade.counterparty.name}}
                  </a>
              </td>
              <td>
                  {{futurestrade.price}}
              </td>
              <td>
                  {{futurestrade.volume}}
              </td>
              <td>
                  <a routerLink="/commidities/{{futurestrade.commodity.id}}">
                  {{futurestrade.commodity.name}}
                  </a>
              </td>
              <td>
                  {{futurestrade.direction}}
              </td>
              <td><button class="btn btn-primary" title="delete futurestrade"
                (click)="delete(futurestrade)">x</button></td>
          </tr>
       </tbody>
</table>